# SPDX-FileCopyrightText: 2026 University of Manchester
#
# SPDX-License-Identifier: apache-2.0

[run]
source = .
core = ctrace
omit =
    tests/*
    */__*
parallel = True
concurrency = multiprocessing

[report]
skip_empty = True
omit =
    tests/*
    */__*
